@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="table-bordered">
    <h4>Yazarın Blogları</h4>
    <table class="table table-bordered">

        <tr>
            <th> # </th>
            <th> Blog Başlığı </th>
            <th> Oluşturma Tarihi </th>
            <th> Kategorisi </th>
            <th> Durumu </th>
            <th> Sil </th>
            <th> Düzenle </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th> @item.BlogID </th>
                <td> @item.BlogTitle</td>
                <td> @(((DateTime)@item.BlogCreateDate).ToString("dd/MMM/yyyy")) </td>
                <td> @item.category.CategoryName</td>
                <td>
                @if (@item.BlogStatus == true)
                {
                    <span class="badge badge-success">Aktif</span>
                }
                else
                {
                    <span class="badge badge-danger">Pasif</span>
                }
                </td>
                <td><a href="/Blog/BlogDelete/@item.BlogID" class="btn btn-danger" onclick="return confirm('Silmek istediğinizden emin misiniz?')">Sil</a></td>
                <td><a href="/Blog/BlogUpdate/@item.BlogID" class="btn btn-warning">Düzenle</a></td>

            @*    <td><a href="/Blog/BlogDelete/@item.BlogID" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn alert-warning">Düzenle</a></td>*@
            </tr>
        }
    </table>
</div>
<a href="/Blog/BlogAdd" class="btn btn-info">Yeni Blog Oluştur</a>

