@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Blog Kayıt Paneli</h4>
            @using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
            {
                <div class="form-group">                    
                    <label for="exampleInputName1">Blog Başlığı</label>
                    @Html.TextBoxFor(x=>x.BlogTitle, new {@class="form-control", placeholder="Blog Başlığınızı yazınız"})
                    @Html.ValidationMessageFor(x=>x.BlogTitle, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Blog Başlığı</label>
                    @Html.TextAreaFor(x=>x.BlogContent, new {@class="form-control", placeholder="Blog içeriğinizi yazınız"})
                    @Html.ValidationMessageFor(x=>x.BlogContent, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Blog için Kategori seçiniz</label>
                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                </div>
                
                @*<div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>
                *@
                <button type="submit" class="btn btn-gradient-primary mr-2">Kayıt Oluştur</button>                
            }
        </div>

    </div>

</div>
